.canvas {
  position: absolute; /* Position canvas relative to parent */
  /* top: 0;             Position at the top */
  right: 30vw;           /* Position at the right */
  z-index: 1;
  margin: 10;   
  background-color: black;     /* Make sure it's on top of other content */
}
@media (max-width: 1500px) {
  .canvas {
      width: 95%; /* Adjusted width for small and medium screens */
      transform: translateX(25%);
  }
  
}
